<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    
    <h1>Welcome to the World of Nicolas Cage</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/works">Works</a>
            </li>
        
        </ul>

    </nav>
    
    <div>
        <h2>Everything you need to know about Mr. Dreamboat himself</h2>
    
    <iframe src="https://giphy.com/embed/bn0zlGb4LOyo8" width="480" height="451" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
</body>
</html>