<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Works</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/works">Works</a>
            </li>
        
        </ul>

    </nav>

    <div >
       <ol class="works">
       
        <img src="https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2F1%2F1d%2FConairinternational.jpg&sp=1661871936T46c517ff2d5f9da654922333cc332d68e96d902bedc2c48436aa2e0fe786f3d6" width="300" height="500"  />
        
        <img src="https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2F1%2F1c%2FFaceOff_poster.jpg&sp=1661872087T7cceeec803202ab9c7575b06e46fff4e57a47cea7e9887d5b8ada12ae9572c92" width="300" height="500" />
        
        <img src="https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2F3%2F31%2FRaising-Arizona-Poster.jpg&sp=1661872157T8488cf58161137ee57ca1d396731a6816daee45e16cef49d9525033b10c3fb75" width="300" height="500" />
       </ol>

    </div>
</body>
</html>